body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mobileimg {
    display: none;
}

/*header and nav bar*/


.header {
    height: 2em;
    display: flex;
    padding-top: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.mobnav {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .header {
        display: none;
    }

    .mobnav {
        height: 64px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation a{
    text-decoration: none;
    color: black;
}

.navigation a {
    margin-right: 10px;
    margin-left: 10px;
}

/*main section and sign up*/

.banner {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    padding: 32px 24px;
    color: white;
    font-size: 2.5em;
    
}

.banner img {
    width: 60%;
}

.start {
    margin-left: 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

button {
    background-color: black;
    border-radius: 8px;
    width: 40%;
}



.click {
    font-size: 30px;
    color: white;
    font-family: Cambria;
}

@media only screen and (max-width: 1000px) {
   .banner {
       display: block;
       font-size: 5vw;
   }

   .banner img {
       display: block;
       width: 100%;
   }

    .start {
        display: block;
    }
}

/*About the school/campus*/

.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    background-color: goldenrod;
    
}

.read {
    width: 100%;   
}
.practice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 32px 24px;
}

.practice h3{
    font-size: 40px;
}

.practice p {
    font-size: 30px;
}

.practice .citation {
    font-size: 18px;
    font-style: italic;
}

.about {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 40%;
    text-align: center;
    margin-right: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.orientation,
.campus,
.lecture {
    display: flex;
    background-color: black;
}

.desktop {
    width: 35%;
    padding: 16px;
}

.date,
.location,
.guest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    background-color: gainsboro;
    border: black;
    border-style: solid;
    border-width: 10px;
    border-right-width: 20px;
}



.about h5 {
    font-size: 30px;
}

.about p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.about a{
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {
    .practice,
    .desktop {
        display: none;
    }

    .main {
        display: block;
        margin-top: 0px;
        background-color: white;
    }
    
    .about {
        display: block;
        width: 100%;
    }

    .date,
    .location,
    .guest {
        display: block;
        width: 100%;
        border: none;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: white;
        margin-top: 0px;
    }

    .about h5,
    .about p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    }

    .mobileimg {
        display: block;
        width: 100%;
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .orientation,
    .campus,
    .lecture {
        display: block;
        background-color: white;
        margin-bottom: 48px;
        text-align: left;
        margin-left: 16px;
    }
    
}

    
/*Start learning section*/

.learning {
    margin-top: 32px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.learning h3 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 40px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 72px 32px 72px;
    }

.course {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: goldenrod;
    text-align: center;
    width: 30%;
    margin-bottom: 32px;   
    margin-right: 16px; 
    margin-left: 16px;
}

.course p {
    margin-top: 4px;
    font-size: 20px;
}

.courses {
    text-decoration: underline;
}

.course h5 {
    font-size: 30px;
}

@media only screen and (max-width: 1000px) {
    .list img,
    .courses,
    .examples {
        display: none;
    }

    .list {
        display: block;
    }

    .course {
        display: block;
    }

    .list h5 {
        display: block;
        padding: 0px;
        min-width: 100vw;
        background-color: goldenrod;
        padding: 16px 16px 24px 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: center;
    }

}
/*Thesis exhibit section*/

.thesis {
    background-color: white;
}

.urban {
    display: flex;
    flex-direction: column;
    margin: 32px 24px 24px 24px;
    width: 60%;
    text-align: left;
    background-color: goldenrod;
    padding: 20px
}

.urban video {
    margin-bottom: 24px;
}

.urban p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 30px;
}

.urban h5 {
    font-size: 40px;
}

.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    text-align: center;
    background-color: gainsboro;
    height: 100%;
}



.type h3 {
    text-align: center;
}


.content {
    display: flex;
}
.example {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.example img{
    width: 35%;
    margin-right: 16px;
}

.fisma,
.now {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    padding: 16px;
    margin-bottom: 20px;
}



/*footer*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.privacy {
    display: inline-flex;
    justify-content: space-around;
    width: 35%;
}

.privacy a {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}
