/*header and nav bar*/

.header {
    height: 32px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.navigation {
    display: flex;
    margin-right: 24px;
}

.navigation p {
    margin-right: 10px;
    margin-left: 10px;
}

/*main section and sign up*/

.banner {
    display: flex;
    background-color: gray;
    padding: 32px 24px;
}

.banner img {
    width: 60%;
}

.start {
    margin-left: 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.start {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*About the school/campus*/

.main {
    display: flex;
    margin: 32px 24px;
}

.main img {
    width: 60%;
}

.about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 60%;
}

.orientation,
.campus,
.lecture {
    display: flex;
    background-color: gray;
}

.about img {
    width: 35%;
    padding: 16px;
}

.date,
.location,
.guest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.about p {
    margin-top: 8px;
    margin-bottom: 8px;
}

/*Start learning section*/

.start {
    background-color: gray;
}

.start h3 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 72px 32px 72px;
}

.course {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    width: 30%;
    margin-bottom: 32px;
    
}

.course p {
    margin-top: 8px;
}