/*header and nav bar*/

.header {
    height: 32px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.navigation {
    display: flex;
    margin-right: 24px;
}

.navigation p {
    margin-right: 10px;
    margin-left: 10px;
}

/*main section and sign up*/

.banner {
    display: flex;
    background-color: gray;
    padding: 32px 24px;
}

.banner img {
    width: 60%;
}

.start {
    margin-left: 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.start {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}